# Downloaded model files
models.py
kokoro.py
istftnet.py
plbert.py
config.json
kokoro-v0_19.pth
kokoro-v1_0.pth

# Downloaded voice files
voices/
fp16/
demo/
venv/
.cache/
temp/
certs/

# Python
__pycache__/
*.pyc
*.pem
